* {
    font-family: 'Quicksand', sans-serif;
}

.ui.menu .dropdown.item .menu {
    background: #1B1C1D !important;
}

#root>div>div:nth-child(2)>div.ui.inverted.vertical.center.aligned.segment {
    background-image: url('../Images/Web Dev.jpg') !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

#root>div>div:nth-child(3)>div.ui.inverted.vertical.center.aligned.segment {
    background-image: url('../Images/Web Dev.jpg') !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}